h1{
color:#272727;
font-size: 100px;
font-weight: 100;
margin: 50px auto;
text-align: center;
}

h4{
color:rgb(114, 114, 114);
text-align: center;
}

.box{
text-align: center;
}

.p1{
text-align: center;
color: #888;
font-size: 7px;
}

.p2{
text-align: center;
color: rgb(95, 95, 95);
font-size: 13px;
}

.p3{
text-align: center;
color: rgb(63, 63, 63);
font-size: 15;
}

.p4{
    text-align: center;
    color: rgb(63, 63, 63);
    font-size: 15;
}

.png1{
text-align: center;
}

.p5{
    text-align: center;
    color: #888;
    font-size: 7px;
}
